<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    <ul>
      {% if length == 0: %}
      <p>Library is empty.</p>
      {% else: %}
      {% for item in books:%}
      <li><button><a href="{{url_for('update',one_item=item.id)}}">Edit</a></button>{{ item.title}} - {{item.author}} - {{item.rating}}<button><a href="{{url_for('delete', ids=item.id)}}">Delete</a></button> </li>
      {% endfor %}
      {% endif %}
    </ul>

    <a href="{{url_for('add')}}">Add New Book</a>
  </body>
</html>
